<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{ list.title | uppercase }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
      <ion-label floating>New Item</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="nameItem"
        (keyup.enter)="addItem()"
      ></ion-input>
    </ion-item>
<br>
    <ion-list>
        <ion-list-header> Task to do </ion-list-header>
        <ion-item-sliding *ngFor="let item of list.items ; let key = index" class="animated fadeInDown">
              <button ion-item detail-none (click)="updateStatus(item)"  >
              <ion-icon
                name="{{item.done? 'checkbox-outline':'square-outline'}}"
                item-start
              ></ion-icon>
              {{ item.description }}
            </button>

          <ion-item-options side="right">
            <button ion-button color="danger" icon-only (click)="deleteItem(key)">
              <ion-icon name="close"></ion-icon>

            </button>

          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

</ion-content>
