<ion-list>
  <ion-item-sliding #slidingItem *ngFor="let list of (toDoList.list | filterDone: done)">
    <button ion-item (click)="selectedList(list)">
      {{ list.title }}
      <ion-note item-end> {{ list.items.length }} items </ion-note>
    </button>
    <ion-item-options side="right">
      <button ion-button icon-only color="danger" (click)="deleteList(list.id)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options side="left">
        <button ion-button icon-only color="primary" (click)="editList(list,slidingItem)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
  </ion-item-sliding>
</ion-list>
